.center {
    padding: 30px;
    text-align: center;
}

iron-list {
  padding-top: 20px;
  --iron-list-items-container: {
    max-width: 800px;
    margin: auto;
    border-bottom: 1px solid #ddd;
  };
}
.item {
  @apply(--layout-horizontal);
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-bottom: 10px;
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #DDD;
}
.pad {
  padding: 0 16px;
  @apply(--layout-flex);
  @apply(--layout-vertical);
}
.primary {
  font-size: 16px;
  font-weight: bold;
}
.shortText, .longText {
  font-size: 14px;
}
.longText {
  color: gray;
  display: none;
}
.verde {
  color: green;
}
.rojo {
  color: red;
}
.item:hover .shortText::after {
  content: ' [+]';
  color: gray;
}
.item.expanded:hover .shortText::after {
  content: '';
}
.item.expanded .longText {
  display: block;
}
.item.expanded .longTextButton {
  display: block;
}
.item.expanded:hover .longText::after {
  content: ' [–]';
}

.spacer {
  @apply(--layout-flex);
}
@media (max-width: 460px) {
  paper-toolbar .bottom.title {
    font-size: 14px;
  }
}
