:host {
  display: block;
}

.center {
    padding: 30px;
    text-align: center;
}

app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #F57C00;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  color: white;
  z-index: 1;
  font-weight: bold;
  font-size: 18px;
}
.loadingIndicator {
  text-align: center;
  height: 40px;
}
paper-spinner {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
iron-list {
  --iron-list-items-container: {
    max-width: 800px;
    margin: auto;
  };
}
.personItem {
  @apply --layout-horizontal;
  margin: 16px 16px 0 16px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #ddd;
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #DDD;
}
.pad {
  padding: 0 16px;
  @apply --layout-flex;
  @apply --layout-vertical;
}
.primary {
  font-size: 16px;
  font-weight: bold;
}
address {
  font-size: 14px;
  margin: 10px 0;
}
.spacer {
  @apply --layout-flex;
}
.index {
  width: 30px;
}
