<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="techu-logout">
  <link rel="import" type="css" href="../assets/style-login.css">
  <template>
    <style>
      :host {
        display: block;
        font-family: sans-serif;
        text-align: center
      }
      paper-button.raised {
        background: green;
        color: yellow;
      }

      paper-button.fancy:hover {
        background: lime;
      }

      paper-button[disabled],
      paper-button[toggles][active] {
        background: red;
      }
    </style>

    <app-location route="{{route}}"></app-location>

  <div class="card">
    <div class="login-page">
      <div class="form">
      <p class="title">Hasta luego!</p>
      <div><paper-button on-click="logoutUser" raised>Logout</paper-button></div>
      <div class="login-page">
    </div>
  </div>

  <brum-global-variable key="baseURL" value="{{baseURL}}"></brum-global-variable>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
        id="postLogout"
        method="post"
        url="http://[[baseURL]]/api-uruguay/v1/logout"
        handle-as="json"
        content-type="application/json"
        on-response="showData"
        handle-as="json">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Logout extends Polymer.Element {
      static get is() { return 'techu-logout'; }
      static get properties() {
        return {
          email: {
            type: String,
          },
          password: {
            type: String
          },
          storedUser: {
            type: Object,
            notify: true
          },
          baseURL: {
            type: String
          }
        };
      }

      logoutUser() {
        this.$.postLogout.headers["Authorization"] = "Bearer " + this.storedUser.token;
        this.$.postLogout.body = "[]";
        this.$.postLogout.generateRequest();
        this.storedUser = null;

        // redirect to Login
        this.set('route.path', '/login');
      }

      showData(data) {
        let response = data.detail.response;
        console.log(response);
      }

    }

    window.customElements.define(Logout.is, Logout);
  </script>
</dom-module>
