<!-- techu-not-found.html -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="techu-not-found">
  <link rel="import" type="css" href="../assets/style-login.css">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="login-page">
      <div class="form">
        <p class="title">Nada para ver aquí, 404.</p>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'techu-not-found'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
