<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="techu-transactions.html">

<dom-module id="techu-accounts">
  <link rel="import" type="css" href="../assets/style-list-th.css">
  <template>

    <iron-localstorage name="storedUser" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <brum-global-variable key="baseURL" value="{{baseURL}}"></brum-global-variable>
    <brum-global-variable key="userAccount" value="{{accountID}}"></brum-global-variable>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]"></app-location>

    <iron-ajax
        auto
        id = "getAccounts"
        method="get"
        url="http://[[baseURL]]/api-uruguay/v1/accounts?user_id={{storedUser.user_id}}"
        headers$='{"authorization" : "Bearer {{storedUser.token}}"}'
        handle-as="json"
        content-type="application/json"
        last-response="{{accounts}}"
        handle-as="json"
        loading="{{loading}}">
    </iron-ajax>

    <div class="center">
      <h1>Cuentas</h1>

      <template is="dom-if" if="{{loading}}">
        <paper-spinner active></paper-spinner>
      </template>
    </div>

    <template is="dom-if" if="{{!loading}}">
      <iron-list id="list" items="[[accounts]]" as="account" scroll-target="document">
            <template>
              <div>
                <div class="personItem" tabindex$="[[tabIndex]]"
                        on-click="goTransactions">
                  <div class="pad">
                    <div class="primary">[[account.iban]]</div>
                    <address> [[account.balance]] </address>
                  </div>
                </div>
              </div>
            </template>
      </iron-list>
    </template>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Accounts extends Polymer.Element {
      static get is() { return 'techu-accounts'; }
      static get properties() {
        return {
          accounts: {
            type: Object,
            value: []
          },
          accountID: {
            type: Number,
          },
          storedUser: {
            type: Object,
          },
          loading: {
            type: Boolean,
            value: false
          },
          baseURL: {
            type: String
          }
        };
      }

      goTransactions(event) {
        // redirect to Transactions
        let id = event.model.account.id;
        this.accountID = id;
        this.set('route.path', `/transactions`);
      }

    }

    window.customElements.define(Accounts.is, Accounts);
  </script>
</dom-module>
