<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="techu-transactions">
  <link rel="import" type="css" href="../assets/style-list.css">

  <template>

    <iron-localstorage name="storedUser" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="baseURL" value="{{baseURL}}"></brum-global-variable>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <brum-global-variable key="userAccount" value="{{accountID}}"></brum-global-variable>

    <iron-ajax
        auto
        id = "getTransactions"
        method="get"
        url="http://[[baseURL]]/api-uruguay/v1/accounts/{{accountID}}/transactions"
        headers$='{"authorization" : "Bearer {{storedUser.token}}"}'
        handle-as="json"
        content-type="application/json"
        last-response="{{movements}}"
        handle-as="json",
        loading="{{loading}}">
    </iron-ajax>

    <div class="center">
      <h1>Movimientos</h1>

      <template is="dom-if" if="{{loading}}">
        <paper-spinner active></paper-spinner>
      </template>
    </div>

    <template is="dom-if" if="{{!loading}}">

        <template is="dom-if" if="{{!empty}}" restamp="true">
          <div class="center">
            Su cuenta aún no tiene movimientos.
          </div>
        </template>

          <iron-list id="list" items="[[movements]]" as="item" selection-enabled multi-selection scroll-target="document">
                <template>
                  <div>
                    <div class$="[[getClassForItem(item, selected)]]" tabindex$="[[tabIndex]]">
                      <div class$="[[getColorForItem(item)]]">

                        <div class="pad">
                          <div class="primary">[[item.amount]]</div>
                          <div class="shortText">[[item.type]]</div>
                          <div class="longText">
                            <template is="dom-if" if='[[_isEqualTo(item, "deposit")]]' restamp="true">
                              Depósito realizado el día [[item.date]] desde terminal bancaria.
                            </template>
                            <template is="dom-if" if='[[_isEqualTo(item, "transference")]]' restamp="true">
                              Transferencia realizada el día [[item.date]].
                            </template>
                            <template is="dom-if" if='[[_isEqualTo(item, "extraction")]]' restamp="true">
                              Extracción realizada el día [[item.date]] desde terminal bancaria.
                            </template>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </template>
          </iron-list>
    </template>

  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class Transactions extends Polymer.Element {
      static get is() { return 'techu-transactions'; }
      static get properties() {
        return {
          movements: {
            type: Object,
            value: [],
            observer: "_tieneMovimientos"
          },
          empty: {
            type: Boolean,
            value: true
          },
          accountID: {
            type: Number,
          },
          storedUser: {
            type: Object,
          },
          loading: {
            type: Boolean,
            value: false
          },
          baseURL: {
            type: String
          }
        };
      }

      getClassForItem(item, selected) {
        return selected ? 'item expanded' : 'item';
      }
      getColorForItem(item) {
        if (item.type == "deposit" || (item.type == "transference" && item.dst == this.accountID)) {
          return "verde";
        } else {
          return "rojo";
        }
      }
      _isEqualTo(item, string) {
        return item.type == string;
      }
      _tieneMovimientos() {
        if (this.movements) {
          let count = Object.keys(this.movements).length;
          this.empty = count > 0;
        }
      }

    }

    window.customElements.define(Transactions.is, Transactions);
  </script>
</dom-module>
