<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="techu-login">
  <link rel="import" type="css" href="../assets/style-login.css">
  <template>
    <style>
      :host {
        display: block;
        font-family: sans-serif;
      }
    </style>

    <app-location route="{{route}}"></app-location>

    <iron-localstorage name="storedUser" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="baseURL" value="{{baseURL}}"></brum-global-variable>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
        id="postSignin"
        method="post"
        url="http://[[baseURL]]/api-uruguay/v1/signin"
        handle-as="json"
        content-type="application/json"
        on-response="loginResponse"
        on-error="responseError"
        handle-as="json">
    </iron-ajax>

    <iron-ajax
        id="postLogin"
        method="post"
        url="http://[[baseURL]]/api-uruguay/v1/login"
        handle-as="json"
        content-type="application/json"
        on-response="loginResponse"
        on-error="responseError"
        handle-as="json">
    </iron-ajax>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <div class="login-page">
          <div class="form">
            <p class="title">Bienvenido/a</p>
            <form class="register-form" hidden$="{{showlogin}}">
              <input type="text" value="{{lname::input}}" placeholder="nombre"/>
              <input type="text" value="{{fname::input}}" placeholder="apellido"/>
              <input type="text" value="{{email::input}}" placeholder="email"/>
              <input type="password" value="{{password::input}}" placeholder="contraseña"/>
              <button type="button" on-click="signinUser">crear</button>
              <p class="message" on-click="switchForm">Ya tienes cuenta? <a href="#">Inicia sesión.</a></p>
            </form>
            <form class="login-form" hidden$="{{!showlogin}}">
              <input type="text" value="{{email::input}}" placeholder="email"/>
              <input type="password" value="{{password::input}}" placeholder="password"/>
              <button type="button" on-click="loginUser">login</button>
              <p class="message" on-click="switchForm">No estás registrado? <a href="#">Crea una cuenta.</a></p>
            </form>
          </div>
        </div>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <div class="login-page">
          <div class="form">
            <p class="title">Ya te encuentras logueado.</p>
            <div class="message">Si deseas ingresar con otra cuenta, previamente <a href="/logout">cierra sesión</a>.</div>
          </div>
        </div>
      </div>
    </div>

  </template>

  <script>
    /****** ----
     * @customElement
     * @polymer
     */
    class Login extends Polymer.Element {
      static get is() { return 'techu-login'; }
      static get properties() {
        return {
          email: {
            type: String,
          },
          password: {
            type: String
          },
          lname: {
            type: String
          },
          fname: {
            type: String
          },
          storedUser: {
            type: Object,
            notify: true
          },
          showlogin: {
            type: Boolean,
            value: true
          },
          baseURL: {
            type: String
          }
        };
      }

      switchForm() {
        this.showlogin = !this.showlogin;
      }

      signinUser() {
        let user = {
          first_name: this.fname,
          last_name: this.lname,
          email : this.email,
          password : this.password
        }

        this.$.postSignin.body = JSON.stringify(user);
        this.$.postSignin.generateRequest();
      }

      loginUser() {
        let user = {
          email : this.email,
          password : this.password
        }

        this.$.postLogin.body = JSON.stringify(user);
        this.$.postLogin.generateRequest();
      }

      loginResponse(data) {
        let response = data.detail.response;
        if (response.data.token) {
          this.storedUser = {
            name: this.email,
            token: response.data.token,
            user_id: response.data.user_id,
            loggedin: true
          };

          // redirect to Accounts
          this.set('route.path', '/accounts');
        }

        this.showlogin = true;
      }

      responseError(error) {
        console.log(error);
      }

    }

    window.customElements.define(Login.is, Login);
  </script>
</dom-module>
